<div class="painel mb-3">
    <h3>{{ tarefa.titulo }}</h3>
    <p>
        {{ tarefa.descricao|safe }}
    </p>
    <div class="text-center">
        {% if tarefa.status == 'TODO' %}
            <a href="{% url 'atualizar_tarefa' tarefa.pk 'DOING' %}">Executar</a>
        {% endif %}
        {% if tarefa.status == 'DOING' %}
            <a href="{% url 'atualizar_tarefa' tarefa.pk 'TODO' %}">Voltar</a>
            <a href="{% url 'atualizar_tarefa' tarefa.pk 'DONE' %}">Concluir</a>
        {% endif %}
    </div>
</div>
