{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <h1 class="my-5">Minha lista de tarefas</h1>
        <div class="row ">
            <div class="col-md-4">
                <div class="bg-light p-3 rounded">
                    <h3 class="text-center">A fazer</h3>
                    {% for tarefa in tarefas_pendentes %}
                        {% include 'partials/tarefa_mini_snippet.html' %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="bg-light p-3 rounded">
                    <h3 class="text-center">Fazendo</h3>
                    {% for tarefa in tarefas_andamento %}
                        {% include 'partials/tarefa_mini_snippet.html' %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="bg-light p-3 rounded">
                    <h3 class="text-center">Concluídas</h3>
                    {% for tarefa in tarefas_concluidas %}
                        {% include 'partials/tarefa_mini_snippet.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}