{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <h1 class="my-5">Token de acesso à API</h1>
        <div class="bg-light rounded p-3 border">
            {{ token }}
        </div>
        <p class="my-4">
            Endpoints: <br> <br>
            <code>{{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/v1/criar_tarefa/</code>
            <br> <br>
            <code>{{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/v1/setar_status/</code>
        </p>
        <p class="mt-4">
            <a href="{% url 'index' %}" class="btn btn-link">Voltar</a>
        </p>
    </div>

{% endblock %}