{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <dov class="row justify-content-center">
            <form class="col-md-5 my-5" method="post">
                {% csrf_token %}
                <div class="bg-white rounded border p-3 my-5">
                    <label for="id_user">Usuário</label>
                    <input type="text" name="user" class="form-control form-control-sm mb-3" id="id_user">
                    <label for="id_pass">Senha</label>
                    <input type="password" name="pass" class="form-control form-control-sm mb-3" id="id_pass">
                    {% include 'alert_messages.html' %}
                    <div class="row justify-content-between mt-5">
                        <a href="{% url 'register' %}" class=" col-5 btn btn-outline-secondary btn-lg mx-3">Cadastrar</a>
                        <button type="submit" class="col-5 btn btn-lg btn-primary mx-3">Login</button>
                    </div>
                </div>
            </form>
        </dov>
    </div>
{% endblock %}